* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    overflow-x: hidden;
}
.sticky-footer{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}

body{
    font-family: 'Roboto', sans-serif;
}

.body-fixed{
    position: fixed;
}

a{
    color: #000!important;
    text-decoration: none!important;
}

.btn {
    background: #782AD5!important;
    border: 1px solid #782AD5!important;
    color: #FFF!important;
    font-weight: 700 !important;
    padding: 10px 30px!important;
    border-radius: 50px!important;
    transition: 0.3s;
}

.btn-invert {
    background: #FFF;
    border: 1px solid #782AD5;
    color: #782AD5;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-invert a {
    color: #782AD5;
    text-decoration: none;
}

.btn a {
    color: #FFF;
    text-decoration: none;
}

.btn:hover{
    background: #FFF!important;
    color: #782AD5!important;
}

.btn-invert:hover{
    background: #782AD5;
    color: #FFF;
}

.btn-close-post{
    background: url("../img/close.png") no-repeat center center / cover;
    width: 25px!important;
    height: 25px!important;
    border: none;
    margin-left: 10px;
    order: 3;
}


.cursor-pointer{
    cursor: pointer;
}

.text-field__input {
    display: block;
    height: 45px;
    padding: 10px 10px 10px 50px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 7px 1px #782AD5;
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.text-field__icon {
    position: relative;
    margin-right: 0;
}

.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.text-field__icon_search::before {
    width: 16px;
    height: 16px;
    background-image: url("../img/Search.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.post {
    border: 1px solid #782AD5;
    margin-bottom: 30px;
}

.post__info{
    padding: 8px;
}

.post__info-img{
    width: 40px;
    height: 25px;
    margin-right: 4px;
    border-radius: 50%;
    overflow: hidden;
    background: #C4C4C4;
}

.post__info-username{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.post__info-like{
    margin: 0 5px;
}

.post__info-like::before{
    content: ' ';
    display: block;
    width: 17px;
    height: 15px;
    margin-right: 4px;
    background: url("../img/post-like.png") no-repeat center center / cover;
}

.post__info-comments::before{
    content: ' ';
    display: block;
    width: 17px;
    height: 15px;
    margin-right: 4px;
    background: url("../img/post-comments.png") no-repeat center center / cover;
}

.myContainer{
    padding: 0 50px!important;
    max-width: 100%!important;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.pagination a{
 text-decoration: none;
}

.page-item {
    padding: 2px;
    cursor: pointer;
    font-size: 18px;
    color: #AF93FF;
}

.page-item__current {
    font-size: 28px;
    color: #AF93FF;
    font-weight: bold;
}

.header {
    height: 90px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.navbar__links a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: border-bottom 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

/*.logo,*/
.logo{
    width: 128px;
    height: 39px;
    background: url('../img/logo-purple.svg') no-repeat center center;
    display: block;
}

.navbar__links a:not(:last-child){
    margin-right: 24px;
}

.navbar__links a:hover{
    border-bottom: 1px solid rgba(0,0,0,1);
    transition: border-bottom 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.navbar__add-project{
    margin-left: auto;
    margin-right: 20px;
}

.post__img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 3px 3px;
    object-fit: cover;
}

.post-wrap__img{
    border-radius: 20px;
    background: #AF93FF;
}

.post-wrap__photo-item{
    width: 210px!important;
    background: #AF93FF;
    border-radius: 20px;
}

.post-wrap__photo-item.active{
   box-shadow: 0 0 6px 8px #AF93FF;
}

.post-wrap__all-photo{
    margin-top: 20px;
}

.post-wrap__photo-item:not(:last-child){
    margin-right: 20px;
}

.post-wrap .thumbnails  .thumbnail{
    /*width: 210px!important;*/
    height: 158px!important;
    background: #AF93FF;
    border-radius: 20px;
    object-fit: cover;
    z-index: 10000!important;
}

.carousel-container{
    background-color: #AF93FF!important;
}

.fade:not(.show) {
    opacity: 1!important;
}

.post-wrap .thumbnails  .active-thumbnail{
    box-shadow: 0 0 6px 8px #AF93FF;
    border: none;
}

.post-wrap .thumbnails{
    padding: 10px;
}

.thumbnail {
    margin: 0 10px!important;
}

.post{
    border-radius: 3px;
    overflow: hidden;
}

.post__content{
    cursor: pointer;
}

.footer{
    background-color: #D8E8FF;
    color: #727272;
}

.footer__info{
    padding: 41px 0;
}

.footer__description{
    margin-top: 38px;
}

.footer__right{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__right input{
    width: 220px;
}

.footer__team{
    margin-top: 23px;
}

.footer__team span{
    color: #7044EB;
}

.footer__copyright{
    align-items: center;
    text-align: center;
    border-top: 1px solid #AF93FF;
    padding: 17px 0;
    display: inline-block;
    width: 100%;
}

.post-filter{
    width: 50%;
}
.post-filter textarea,
.post-filter input{
    width: 100%;
    border: 1px solid #782AD5;
}

.post-wrap__header{
    width: 100%;
    display: flex;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 15px 25px;
    margin: 20px 0;
    font-weight: 500;
}

.post-wrap__photo-user{
    background: #C4C4C4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 16px;
    order:1;
}

.post-wrap__username{
    order: 2;
}

.post-wrap__post-title{
    order:3
}

.post-wrap__info{
    order: 1;
}

.post-wrap__info span{
    margin: 0 10px;
}

.post-wrap__buttons{
    order: 2;
}

.post-wrap__buttons button:not(:last-child){
    margin-right: 10px;
}

.post-wrap__btn-like::before{
    content: ' ';
    background: url("../img/Like.svg") no-repeat center center / cover;
    width: 27px;
    height: 23px;
    display: block;
    margin-right: 5px;
    color: black;
    transition: 0.3s;
}

.post-wrap__btn-like:hover::before{
    transition: 0.3s;
    background: url("../img/Like-hover.svg") no-repeat center center / cover;
}

.post-comments__name{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

/* login --------------------------------------*/

.sign_up{
    width: 350px;
    background-color: white;
    border-radius: 1px;
    border: 1px solid rgba(219,219,219,1);
}

.form-header{
    padding: 40px;
}

.form-header .logo{
    margin-bottom: 40px;
}

.form-header__fields input{
    margin-bottom: 20px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.form-header__fields input,
.form-header__fields button{
    width: 100%;
    height: 40px;
}

.form-header__fields input{
    color: #959595;
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-left: 13px;
    background: #FAFAFA;
}

.form-header__button{
    border-radius: 4px!important;
    font-size: 14px!important;
    padding: 0!important;
}
.form-header__line{
    margin: 20px 0;
    width: 100%;
}

.form-header__line_left,
.form-header__line_right{
    width: 100%;
    height: .5px;
    display: block;
    background-color: #959595;
}

.form-header__line_or{
    color: #959595;
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    margin: 0 18px;
    text-transform: uppercase;
}

.form-header__continue-google{
    width: 100%;
    border: none;
    position: relative;
    height: 34px;
    background-color: rgba(72, 72, 230, 0.1);
    font-size: 11px;
}
.form-header__continue-google span{
    position: relative;
}

.form-header__continue-google span::before{
    position: absolute;
    content: '';
    top: -2px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("../img/google.png") no-repeat center center / cover;
}
.form-header__forgot-password{
    border: none;
    color: #782AD5;
    background-color: white;
    font-size: 11px;
    margin-top: 24px;
}

.join{
    width: 350px;
    height: 70px;
    background-color: white;
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border: 1px solid rgba(219,219,219,1);
}
.join_title{
    color: #262626;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.join_title button{
    margin-left: 4px;
}

#join,
#join a{
    color: #782AD5;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.login-form{
    padding: 50px 0;
}

/* registration --------------------------------------*/

.form-header__title{
    color: #8E8E8E;
    font-size: 18px;
    margin-bottom: 24px;
}

.form-header_registration .logo{
    margin-bottom: 30px;
}

/* post description --------------------- */

.post-description__wrap{
    margin: 50px 0;
    border: 1px solid #AF93FF;
    border-radius: 25px;
}

.post-comments,
.post-description,
.post-comments-add{
    padding: 40px 0;
    border-bottom: 1px solid #AF93FF;
}

.post-comments__img{
    width: 55px;
    height: 55px;
    background: #C4C4C4;
    border-radius: 50%;
}

.post-comments-add__smile{
    background: url("../img/smile.png") no-repeat center center / cover;
    width: 30px;
    height: 30px;
}
.post-comments-add{
    margin-bottom: 40px;
}

.post-comments-add__form-control{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

/* Profile ------------------------------ */

.profile{
    font-family: 'Sen', sans-serif;
}

.profile-user{
    padding: 30px 0 100px;
}

.profile-user__photo{
    width: 215px;
    height: 215px;
    border-radius: 50%;
    margin-bottom: 17px;
    background-color: #C4C4C4;
    overflow: hidden;
}

.profile-user__name{
    font-size: 30px;
    font-weight: 500;
}

.profile-post__add-projects{
    border: 1px solid #E4DDFA;
    border-radius: 3px;
    padding: 40px 0;
}

.profile-post__add-plus{
    background: url("../img/plussss.svg") no-repeat center center / cover;
    width: 50px!important;
    height: 50px!important;
    display: inline-block;
    margin: 6px 12px;
}

.profile-post__add-project{
    font-size: 30px;
}

.profile-tabs{
    padding: 40px 20px;
    width: 110px;
    background: #E1DEDE;
    border-radius: 20px;
    /*position: absolute;
    top: 50%;
    left: 0;*/
}

.react-tabs__tab-list{
    border-bottom: 0!important;
    display: flex;
    flex-direction: column;
    margin: 0!important;
}

.react-tabs__tab{
    background: #E1DEDE;
}

.profile-tabs .react-tabs__tab:not(:last-child){
    margin-bottom: 20px;
}

.react-tabs__tab--selected {
    background: #E1DEDE!important;
    border: 0!important;
    border-radius: 0!important;
}

.react-tabs__tab--selected::after{
    content: none!important;
}

.react-tabs__tab .profile-tabs__file{
    width: 50px;
    height: 50px;
    background: url("../img/tabs/files.svg") no-repeat center center / cover;
}

.react-tabs__tab--selected .profile-tabs__file{
    width: 50px;
    height: 50px;
    background: url("../img/tabs/files-v.svg") no-repeat center center / cover;
}

.react-tabs__tab .proprofile-tabs__like{
    width: 50px;
    height: 50px;
    background: url("../img/tabs/like.svg") no-repeat center center / cover;
}

.react-tabs__tab--selected .proprofile-tabs__like{
    width: 50px;
    height: 50px;
    background: url("../img/tabs/like-v.svg") no-repeat center center / cover;
}

.react-tabs__tab .profile-tabs__edit{
    width: 65px;
    height: 52px;
    background: url("../img/tabs/fa_edit.svg") no-repeat center center / cover;
}

.react-tabs__tab--selected .profile-tabs__edit{
    width: 65px;
    height: 52px;
    background: url("../img/tabs/fa_edit-v.svg") no-repeat center center / cover;
}

.react-tabs__tab .profile-tabs__admin{
    width: 50px;
    height: 50px;
    background: url("../img/tabs/wpf_administrator.svg") no-repeat center center / cover;
}

.react-tabs__tab--selected .profile-tabs__admin{
    width: 50px;
    height: 50px;
    background: url("../img/tabs/wpf_administrator-v.svg") no-repeat center center / cover;
}

.profile-tab-edit{
    margin-bottom: 20px;
}

.profile-tab-edit .react-tabs__tab-list{
    display: flex;
    flex-direction: row;
}

.profile-tab-edit .react-tabs__tab-list .react-tabs__tab{
    background-color: #FFFFFF;
    font-size: 24px;
}

.profile-tab-edit .react-tabs__tab-list .react-tabs__tab:not(:last-child){
    margin-right: 20px;
}

.profile-tab-edit .react-tabs__tab--selected{
    background: #FFFFFF!important;
    color: #782AD5;
}


.profile-tab-edit__general .form-group{
    margin-bottom: 20px;
}

.profile-tab-edit__general label{
    font-weight: 700;
    margin: 0 0 10px 20px;
}

.profile-tab-edit__general{
    margin: 0 0 100px 0;
}

.exampleFormControlFile1{
    width: 105px;
    height: 105px;
    background-color: #EDEDED;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 20px 10px 0px!important;
}

.post-filter textarea{
    height: auto;
}

.profile-tab-edit__password .form-group {
    margin-bottom: 20px;
}

.profile-tab-edit__password label {
    font-weight: 700;
    margin: 0 0 10px 20px;
}

.admin-users__wrap{
    border: 1px solid #C2C2C2;
    border-radius: 25px;
    padding: 11px 16px;
    margin-top: 20px;
}

.admin-users__img{
    width: 40px;
    height: 40px;
    background-color: #EDEDED;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

/* start section on the posts page*/

.background{
    background: #D8E8FF url("../img/Vector 7.png") no-repeat center center / cover;
    margin-bottom: 40px;
}

.billboard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 100px 0;
}
.site_name{
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Sen', sans-serif;

}
.content_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site_descr{
    color: white;
    font-size: 18px;
    width: 400px;
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 24px 0;
}
.main_button{
    color: white;
    background-color: #F67619;
    width: 250px;
    height: 57px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
}
.main_button:hover{
    background-color: #ffe2cd;
    color: #ff6b00;
}
.content_image img{
    width: 100%;
}

button, select{
    border: none;
}


/* Create page */

.button_m {
    background-color: #ffffff;
    border: #9D9D9D solid 1px;
    padding: 5px 20px;
    border-radius: 15px;
    color: #9D9D9D;
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    height: 45px;
    cursor: pointer;
}

.photo_one {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(175, 147, 255, 0.26);
    cursor: pointer;
}

.button_position {
    display: flex;
    justify-content: right;
}

.button_upload {
    width: 240px;
    margin-top: 10px;
}

.search_btn:hover, .button_m:hover{
    background-color: rgba(171, 117, 236, 0.432);
    color: #4a4a4a;
}

.other_photos__photo{
    width: 203px;
    height: 142px;
    border-radius: 20px;
    background-color: rgba(175, 147, 255, 0.26);
    outline: none;
    cursor: pointer;
}

.other_photos__item:not(:last-child){
    margin-bottom: 20px;
}

.other_photos{
    margin: 20px 0;
}

.post-create input,
.post-create textarea{
    border: 1px solid #9D9D9D;
}

.post-create input{
    padding: 30px 40px;
    font-size: 18px;
    color: #9D9D9D;
}

.post-create textarea{
    padding: 30px 40px;
    font-size: 18px;
    color: #9D9D9D;
}

.post-create{
    width: 100%;
}

.form-select__create{
    padding: 20px 40px!important;
    font-size: 18px!important;
    color: #9D9D9D!important;
    border: 1px solid #9D9D9D!important;
    border-radius: 30px!important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select__create:focus {
    background-color: #fff!important;
    border-color: #bdbdbd!important;
    outline: 0!important;
    box-shadow: 0 0 7px 1px #782AD5!important;
}

.mr{
    margin-right: 20px!important;
}

.modal-profile__wrap{
    position: relative;
}

.descr_title_upl {
    text-align: center;
    color: #64606D;
    font-size: 24px;
    font-family: 'Sen', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ul_upload {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: #64606D;
}


/* Contact */

.contact_main{
    background-color: rgba(175, 147, 255, 0.26);
    padding-bottom: 80px;
}

.ques_wrapper{
    max-width: 1264px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    padding-top: 60px;
    padding-bottom: 10px;
}
.questions_contact{
    color: #64606D;
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    font-weight: 200;
}
.questions_contact span{
    color: #782AD5;
}

.main_content_contact{
    background-color: #ffffff;
    border: 1px #BDBDBD solid;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 90px 31px;
}

.contact_title{
    font-size: 36px;
    color: #782AD5;
    font-family: 'Sen', sans-serif;
    margin-bottom: 30px;
}
.contact_about{
    color: #64606D;
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    margin-bottom: 40px;
}

.contact_info_bloc{
    background-color: rgba(234, 227, 255, 0.4);
    padding: 30px 20px;
}
.contact_wrap, .contact_wrap_all{
    display: flex;
    flex-direction: column;
}
.contact_wrap:not(:first-child){
    padding-top: 30px;
}
.contact_our_desc_email, .contact_our_desc_phone, .contact_our_desc_telegram{
    color: #782AD5;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    font-weight: 200;
}
.contact_our_email, .contact_our_phone, .contact_our_telegram{
    font-family: 'Sen', sans-serif;
    color: #64606D;
    font-size: 16px;
    font-weight: 200;
}


.desc_input{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    padding-left: 44px;

}
.text_fild_contact{
    width: 100%;
    height: 62px;
    margin: 10px auto;
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #9D9D9D;
    display: flex;
}
.cont_name, .cont_em{
    color: #9D9D9D;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    padding-left: 34px;
    border-radius: 30px;
}
.cont_mes{
    color: #9D9D9D;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    padding: 17px 0 10px 34px ;
    border-radius: 30px;
    outline: none;
}

.main_content_contact input{
    outline: none;
    border: none;
}

.text_fild_contact_mes{
    width: 100%;
    height: auto;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea:-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }
textarea::-webkit-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }
textarea:focus::-moz-placeholder { opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

.button_mnn{
    background-color: #ffffff;
    border: #9D9D9D solid 1px;
    border-radius: 15px;
    color: #9D9D9D;
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    height: 45px;
    cursor: pointer;
}

.button_pub_send{
    width: 153px;
    background-color: #7044EB;
    color: #ffffff;
    margin: 20px 25px;
}
/* Media */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .post-wrap .carousel-container{
        height: 500px!important;
    }
    .admin-users__btn{
        font-size: 14px;
        padding: 5px 10px;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .header-burger{
        width: 30px;
        height: 30px;
    }
    .navbar__links a:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .navbar__add-project {
        margin-left: 0;
        margin-right: 20px;
    }
    .header-offcanvas{
        height: 350px!important;
    }
    .background {
        background: linear-gradient(45deg, #8D36AB 0%, #640CCE 100%);
        margin-bottom: 40px;
    }
    .post-wrap__buttons{
        order:3;
        justify-content: end;
        margin-top: 20px;
    }
    .btn-close-post{
        order:2;
        justify-content: flex-end;
    }
    .post-wrap__post-title{
        order: 1;
        margin-bottom: 20px;
    }
    .post-wrap__photo-user{
        order: 2;
    }
    .post-wrap__username{
        order: 3;
    }
    .post-wrap__header{
        position: relative;
    }
    .btn-close-post{
        margin: 0;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    .profile-tabs{
        width: 100%;
        padding: 20px;
    }
    .profile-tabs .react-tabs__tab-list{
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    .profile-tabs .react-tabs__tab:not(:last-child) {
        margin-bottom: 0px;
    }
    .post-filter{
        width: 100%;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .footer__left{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer__right{
        text-align: center;
        align-items: center;
    }
    .footer__description{
        margin: 30px 0;
    }
    .post-wrap .carousel-container{
        height: 350px!important;
    }
    .post-wrap .thumbnails  .thumbnail{
        height: 100px!important;
    }
    .profile-tab-edit__general .form-control-file{
        width: 75%;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
        width: auto;
    }
    .site_descr{
        width: 100%;
    }
    .post-wrap .thumbnails  .thumbnail{
        height: 75px!important;
        width: 150px!important;
    }
    .post-comments__name > div{
        margin-left: 10px;
    }
    .post-wrap .box{
        margin-left: -15px!important;
        margin-right: -15px!important;
    }
    .profile-post__add-plus,
    .profile-tabs .react-tabs__tab div{
        width: 25px!important;
        height: 25px!important;
    }
    .profile-tabs .react-tabs__tab .profile-tabs__edit{
        width: 30px!important;
    }
    .other_photos__photo{
        width: 150px;
        height: 100px;
    }
    .other_photos__item input-group{
        width: 100%;
    }
}

@media (max-width: 375px) {
    .container {
         padding: 0 15px;
         width: auto;
     }
    .sign_up,
    .join{
        width: 100%;
        border-left: none;
        border-right: none;
    }
    .form-header{
        padding: 20px 0;
    }

    .sign_up{
        border-bottom: none;
    }
    .join{
        border-top: none;
        margin-top: 0;
    }
    .post-wrap .carousel-container{
        height: 200px!important;
    }
    .post-comments-add__form button{
        margin-left: -15px;
        width: 70px;
        padding-left: 5px!important;
    }
    .profile-tab-edit__general .form-control-file{
        width: 50%;
    }
}
